<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping list App</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="mx-20 my-10">
    <div id="shopping-list" class="flex flex-col items-start w-full">
        <div class="flex items-center justify-between mb-10 w-full">
            <h1 class="text-4xl font-extrabold text-gray-800 text-center uppercase tracking-wide my-4">{{
                header.toLocaleUpperCase() }}
            </h1>
            <button v-if="state === 'default'" @click="changeState('edit')"
                class="bg-blue-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200 ease-in-out">Add
                Item
            </button>
            <button v-else @click="changeState('default')"
                class="bg-red-500 text-white font-medium py-2 px-4 rounded-lg hover:bg-red-700 transition duration-200 ease-in-out">Cancel
            </button>
        </div>

        <div v-if="state === 'edit'" class="flex items-center justify-between mb-10 w-full">
            <input
                class="border border-gray-300 rounded-lg py-2 px-4 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200 ease-in-out placeholder-gray-500 mr-10"
                type="text" v-model="newItem" placeholder="Add an item" @keyup.enter="saveItem">
            <p class="mr-10"> {{ characterCount }} /200 </p>
            <button :class="{
                'bg-blue-300 hover:bg-blue-400 text-white': newItem.length > 0,
                'bg-gray-300 text-gray-500 cursor-not-allowed': newItem.length === 0
                }" class="font-medium py-2 px-4 rounded-lg transition duration-200 ease-in-out whitespace-nowrap"
                @click="saveItem" :disabled="newItem.length === 0">Save Item</button>
        </div>

        <ul class="list-disc list-inside space-y-2">
            <li v-for="item in reversedItems" class="cursor-pointer"
                :class="{ 'line-through text-gray-500': item.purchased }" @click="togglePurchased(item)"> {{ item.label
                }}</li>
        </ul>
        <p v-if="items.length === 0" class="text-center text-gray-500 text-lg font-semibold mt-4">Nice job ! You've
            bought all your items.</p>
    </div>
    <script src="https://unpkg.com/vue@2"></script>
    <script>
        let shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                state: 'default',
                header: 'Shopping list app',
                newItem: '',
                items: [
                    {
                        label: '10 party hats',
                        purchased: false,
                    },
                    {
                        label: '2 board games',
                        purchased: true,
                    },
                    {
                        label: '20 cups',
                        purchased: false,
                    },
                ]
            },
            computed: {
                characterCount() {
                    return this.newItem.length;
                },
                reversedItems() {
                    return this.items.slice(0).reverse();
                }
            },
            methods: {
                saveItem: function () {
                    this.items.push({
                        label: this.newItem,
                        purshased: false,
                    },);
                    this.newItem = '';
                },
                changeState: function (newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function (item) {
                    item.purchased = !item.purchased;
                }
            }
        });
    </script>
</body>

</html>